.kennel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}

.result_card {
  border: 1px solid cornflowerblue;
  margin: 20px;
  padding: 20px;
}

.page_title {
  margin-top: 20px
}